/* Importación de Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Importación de fuente Inter (opcional, pero buena práctica) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    padding-top: 56px; /* Espacio para el Navbar fijo */
}